In [5]:
# import pkgs 
import sys, os
import pandas as pd
import numpy as np

### Part 1: XGBoost

In [43]:
# global settings 
TRAIN_CLEAN_FILE = '../data/clean_data/Overall.csv'
TEST_CLEAN_FILE = '../data/clean_data/test-processed.csv'
POSITIVE_CLEAN_FILE = '../data/clean_data/Positive_clean_data.csv'
NEGATIVE_CLEAN_FILE = '../data/clean_data/Negative_clean_data.csv'
POS_BI_RANK = '../data/Positive/bi_rank'
Neg_BI_RANK = '../data/Negative//bi_rank'

# Bool for training task 
TRAIN_Flag = False

In [44]:
helper_path = "../code/"
sys.path.insert(0, helper_path)
from StaAnalysis import StaA

In [45]:
train_data = pd.read_csv(TRAIN_CLEAN_FILE)
pos_data = pd.read_csv(POSITIVE_CLEAN_FILE)
neg_data = pd.read_csv(NEGATIVE_CLEAN_FILE)
pos_bi_rank = pd.read_csv(POS_BI_RANK)
neg_bi_rank = pd.read_csv(Neg_BI_RANK)

In [41]:
pos_bi_rank = pos_bi_rank.rename(columns={'Unnamed: 0': 'bigram'})

In [42]:
pos_bi_rank.head()

         bigram  frequency  presence       idf       tf-idf
0        i love        231       2.0  8.958926  2069.512020
1      mother s        145      49.0  6.145516   891.099788
2         s day        144       8.0  7.860314  1131.885245
3           i m        140       1.0  9.364392  1311.014824
4  happy mother        121       4.0  8.448101  1022.220205

In [46]:
neg_bi_rank.head()

  Unnamed: 0  frequency  presence       idf       tf-idf
0        i m        338       1.0  9.267064  3132.267556
1      do nt        165       1.0  9.267064  1529.065523
2      ca nt        147       1.0  9.267064  1362.258375
3     i miss        113      34.0  6.404863   723.749507
4     i hate        113       1.0  9.267064  1047.178207